@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="text-center border-bottom">
    <h1 class="display-3">Vítejte</h1>
    <p>Tento web slouží jako reklama pro naší rodinnou firmu která se zabývá tesařským řemeslem.</p>
    <br />
    <br />
</div>
<br />
<div>
    <h1 id="cod" class="display-4">Co děláme</h1>
    <p>
        Provádíme tesařské práce - střechy z krovu, bednění střech, podbíjení, demontáže a opravy stávajících střech, různé dřevostavby,
        bednění schodů a další tesařské práce dle přání zákazníka.
    </p>
</div>
<br />
<div class="border-bottom border-top">
    <div class="images">
        <div>
            <img src="~/assets/obr1s.png" />
            <img src="~/assets/obr2s.png" />
            <img src="~/assets/obr3s.png" />
            <img src="~/assets/obr4s.png" />
            <img src="~/assets/obr7s.png" />
        </div>
        <br />
        <div>
            <img src="~/assets/obr8s.png" />
            <img src="~/assets/obr10s.png" />
            <img src="~/assets/obr5s.png" />
            <img src="~/assets/obr6s.png" />
            <img src="~/assets/obr9s.png" />
        </div>
    </div>
</div>
<br />
<div>
    <h1 id="con" class="display-4">Co nabízíme</h1>
    <p>
        S letitými zkušenostmi nabízíme tesařské práce. Ve svém oboru se nejvíce a nejčastěji zaměřujeme na montáž dřevěných konstrukcí krovů rodinných a bytových domů.
        Provádíme realizace a opravy střech. Mezi naše další činnosti patří například výroby pergol a přístřešků.
    </p>
    <br />
</div>
<div class="border-bottom">
    <ul>
        <li>roubené stavby</li>
        <li>rekonstrukce roubených konstrukcí</li>
        <li>vázané tesařské konstrukce (krovy)</li>
        <li>altány, pergoly, zahradní domky, přístřešky, stání pro auta</li>
        <li>dřevěné štítydřevěné stropyli>
        <li>dřevěné stropy</li>
    </ul>
    <br />
</div>
<br />
<div>
    <h1 id="kon" class="display-4">Kontakty na nás</h1>
    <p>V případě zájmu o naše služby, nebo s případnými dotazy se na nás neváhejte obrátit<br /><strong>Tel.: +420 111 222 333 - Roman Brož</strong><br /><strong>Tel.: +420 666 777 888 - Adam Brož</strong></p>
    <p>E-mail: <strong>tesarstvi.broz@email.com</strong></p>
</div>
<br />
<div class="border-bottom border-top">
    <br />
    <h1 id="gal" class="display-4">Galerie</h1>
    <br />
    <div class="imagesBig">
        <img src="~/assets/obr1.png" width="500" height="345" />
        <img src="~/assets/obr2.png" width="500" height="345" />
        <img src="~/assets/obr3.png" width="500" height="345" />
        <img src="~/assets/obr4.png" width="500" height="345" />
        <img src="~/assets/obr5.png" width="500" height="345" />
        <img src="~/assets/obr6.png" width="500" height="345" />
        <img src="~/assets/obr7.png" width="500" height="345" />
        <img src="~/assets/obr8.png" width="500" height="345" />
        <img src="~/assets/obr9.png" width="500" height="345" />
        <img src="~/assets/obr10.png" width="500" height="345" />
        <img src="~/assets/obr11.jpg" width="500" height="345" />
        <img src="~/assets/obr12.jpg" width="500" height="345" />
        <img src="~/assets/obr13.jpg" width="500" height="345" />
        <img src="~/assets/obr14.jpg" width="500" height="345" />
        <img src="~/assets/obr15.jpg" width="500" height="345" />
        <img src="~/assets/obr16.jpg" width="500" height="345" />
        <img src="~/assets/obr17.jpg" width="500" height="345" />
        <img src="~/assets/obr18.jpg" width="500" height="345" />
        <img src="~/assets/obr19.jpg" width="500" height="345" />
        <img src="~/assets/obr20.jpg" width="500" height="345" />
        <img src="~/assets/obr21.jpg" width="500" height="345" />
        <img src="~/assets/obr22.jpg" width="500" height="345" />
        <img src="~/assets/obr23.jpg" width="500" height="345" />
        <img src="~/assets/obr24.jpg" width="500" height="345" />
        <img src="~/assets/obr25.jpg" width="500" height="345" />
        <img src="~/assets/obr26.jpg" width="500" height="345" />
        <img src="~/assets/obr27.jpg" width="500" height="345" />
        <img src="~/assets/obr28.jpg" width="500" height="345" />
        <img src="~/assets/obr29.jpg" width="500" height="345" />
        <img src="~/assets/obr30.jpg" width="500" height="345" />
        <img src="~/assets/obr31.jpg" width="500" height="345" />
        <img src="~/assets/obr32.jpg" width="500" height="345" />
        <img src="~/assets/obr33.jpg" width="500" height="345" />
        <img src="~/assets/obr34.jpg" width="500" height="345" />
        <img src="~/assets/obr35.jpg" width="500" height="345" />
        <img src="~/assets/obr36.jpg" width="500" height="345" />
        <img src="~/assets/obr37.jpg" width="500" height="345" />
    </div>
    <br />
</div>
